@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

html, body, #root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
}

.App{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  margin-top: 0;
}
